*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $darkColor;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    body{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .menu{
            width: 75%;
            height: 75%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .title{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                h1{
                    font-size: 3rem;
                    margin: 20px;
                }
                .underline{
                    width: 100%;
                    height: 3px;
                    margin: 20px;
                    margin-top: 0px;
                    background: rgb(149,139,177);
                    background: linear-gradient(260deg, rgba(149,139,177,0) 0%, $lightColor 50%, rgba(193,119,169,0) 100%);
                }
            }
            .btn-container{
                .filter-btn{
                    font-size: 1.1rem;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    color: $mediamColor;
                    background: transparent;
                    border: solid 2px $mediamColor;
                    border-radius: 5px;
                    padding: 5px 10px;
                    margin: 20px;
                    cursor: pointer;
                }
                .filter-btn:hover{
                    background-color: $mediamColor;
                    color: white;
                    box-shadow: 0 0 5px 2px rgba($color: #000000, $alpha: .3);
                }
            }
            .section-center{
                display: flex;
                flex-wrap: wrap;
                justify-content:center ;
                .menu-item{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    margin: 20px;
                    border-radius: 20px;
                    cursor: pointer;
                    .photo{
                        max-width: 300px;
                        border: solid 3px $lightColor;
                        border-radius: 20px;
                    }
                    .item-info{
                        max-width: 300px;
                        display: flex;
                        flex-direction: column;
                        margin: 10px;
                        header{
                            display: flex;
                            justify-content: space-between;
                        }
                    }
                    .price{
                        color: $mediamColor;
                    }
                }
                .menu-item:hover{
                    box-shadow: 0 0 10px 3px rgba($color: #000000, $alpha: .2)
                }
            }
        }
        .creation-invisible{
            position: fixed;
            visibility: hidden;
        }
        .creation-visible{
            position:absolute;
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            top: 0;
            background-color: rgba(184, 135, 11, 0.24);
            backdrop-filter: blur(30px);
            h1{
                padding: 15px 25px;
                background-color: darkgoldenrod;
                border-radius: 20px 20px 0px 0px;
            };
            form{
                width: 50%;
                padding: 5%;
                border-radius: 20px;
                background-color: rgb(218, 167, 39);
                display: flex;
                align-items: center;
                flex-direction: column;
                input{
                    width: 80%;
                    margin: 3%;
                    padding: 10px;
                    border-radius: 20px;
                }
                #item-categoy{
                    width: 80%;
                    margin: 3%;
                    padding: 10px;
                    border-radius: 20px 20px 0px 0px;
                }
                #closerBtn{
                    margin: 2%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 6px 10px;
                    border-radius: 50%;
                    background-color: transparent;
                    color: red;
                    border: 2px solid red;
                    font-size: 1.1rem;
                    cursor: pointer;
                }
                #closerBtn:hover{
                    background-color: red;
                    color: white;
                };
                #addBtn{
                    width: 200px;
                    margin-top: 20px;
                    padding: 5px;
                    border-radius: 20px;
                    border: 2px solid green;
                    color: green;
                    font-size: 1.1rem;
                    cursor: pointer;
                }
                #addBtn:hover{
                    background-color: green;
                    color: white;
                }
            }
        }
        .creator-container{
            display: flex;
            align-items: center;
            #modalBtn{
            padding: 10px 15px;
            margin: 20px;
            font-size: 1.8rem;
            color: darkgoldenrod;
            border: 2px solid darkgoldenrod;
            background: transparent;
            border-radius: 10px;
            cursor: pointer;
            }
            #modalBtn:hover{
            background:darkgoldenrod;
            color: white;
            }
        }
    }
}
// telas 
@media (max-width:769px) {
    .creation-visible{
        form{
            width: 90% !important;
        }
    }
}
@media (max-width:375px) {
    .creation-visible{
        form{
            width: 100% !important;
        }
    }
    .section-center, .menu-item, .photo{
                max-width: 100% !important;
            }
}
