*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $darkColor;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    body{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .menu{
            width: 75%;
            height: 75%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .title{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                h1{
                    font-size: 3rem;
                    margin: 20px;
                }
                .underline{
                    width: 350px;
                    height: 3px;
                    margin: 20px;
                    margin-top: 0px;
                    background: rgb(149,139,177);
                    background: linear-gradient(260deg, rgba(149,139,177,0) 0%, $lightColor 50%, rgba(193,119,169,0) 100%);
                }
            }
            .btn-container{
                .filter-btn{
                    font-size: 1.1rem;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    color: $mediamColor;
                    background: transparent;
                    border: solid 2px $mediamColor;
                    border-radius: 5px;
                    padding: 5px 10px;
                    margin: 20px;
                    cursor: pointer;
                }
                .filter-btn:hover{
                    background-color: $mediamColor;
                    color: white;
                    box-shadow: 0 0 5px 2px rgba($color: #000000, $alpha: .3);
                }
            }
            .section-center{
                display: flex;
                flex-wrap: wrap;
                justify-content:center ;
                .menu-item{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    margin: 20px;
                    border-radius: 20px;
                    cursor: pointer;
                    .photo{
                        max-width: 300px;
                        border: solid 3px $lightColor;
                        border-radius: 20px;
                    }
                    .item-info{
                        max-width: 300px;
                        display: flex;
                        flex-direction: column;
                        margin: 10px;
                        header{
                            display: flex;
                            justify-content: space-between;
                        }
                    }
                    .price{
                        color: $mediamColor;
                    }
                }
                .menu-item:hover{
                    box-shadow: 0 0 10px 3px rgba($color: #000000, $alpha: .2);
                }
            }
        }
    }
}